<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="style.css">
    <!-- 제이쿼리 cdn -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <!-- box-icon cdn -->
    <link href='https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css' rel='stylesheet'>
          <link rel="stylesheet" href="static/css/style.css" />
    <title>Document</title>
</head>

<body>
    <div class="app">
        <div class="list">

            <div class="header">
                <h2>To Do List</h2>
                <div>
                    <input type="text" id="todo" placeholder="할 일을 입력해주세요!" maxlength="20" />
                    <button class="todoAddBtn">+</button>
                </div>
            </div>

            <div class="main" id="todoList">





            </div>



            <div class="footer">
                <div class="footer-list" id="numBtn">

                </div>

            </div>


        </div>
    </div>
          <script src="/static/js/main.js"></script>
</body>

</html>